# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio specific
.vscode/
.vs/
*.csproj.user
*.dbmdl

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.ncb
*.cache
*.bak
*.Backup